body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    /* background-image: url(../img/alum.png); */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./wall-min.jpg) no-repeat center center;
  background-size: cover;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    width: 47px;
    height: 69px;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 69px;
    position: relative;
    margin: 0 12px 12px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
}

.key img {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    
}





.key button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0;
    display: none;
    background-color: transparent;
    border-style: none;
    color: #fff;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.key:hover button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    padding: 0;
    display: initial;
}